@media (min-width: 1300px) {
    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none;
      transition: color 0.3s;
    }
  }
  .nav-link span {
    display: block;
  }
.nav-item{
    transition: 0.01ms;
}
.btn-group button{
    border: solid 1px ;
}

#semibold{
    font-size: 10px;
}

.dropdown-toggle{
    padding: 0px 0px;
    height: 35px;
    margin-top: 2px;
}
.input-group{
    height: 30px;
    width: 240px !important;
    margin: 0px 10px;
}

@media screen and (min-width:360px) and (max-width:820px){
    #semibold{
        display: inline-block;
        font-size: 20px;
    }
    .collapse{
        margin-top: 15px;
    }
    .navbar-nav{
        width: 100%;
        padding: 0px 10px;
        margin: 10px 0px !important;
    }
    .input-group{
        width: 200px !important;
    }
}
